<nav class="col-2 d-none d-md-block bg-light sidebar p-0 pt-3 pb-3 border-right" id="main-sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item text-center">
                <a class="nav-link font-weight-bold text-uppercase {% if '/' ~ app.request.attributes.get('_route') == path('dashboard') %}text-primary{% else %}text-secondary{% endif %}" href="{{ path('dashboard') }}">Dashboard</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link font-weight-bold text-uppercase {% if '/' ~ app.request.attributes.get('_route') == path('bandwidth') %}text-primary{% else %}text-secondary{% endif %}" href="{{ path('bandwidth') }}">Bandwidth</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link font-weight-bold text-uppercase {% if '/' ~ app.request.attributes.get('_route') == path('dbio') %}text-primary{% else %}text-secondary{% endif %}" href="{{ path('dbio') }}">DB IO</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link font-weight-bold text-uppercase {% if '/' ~ app.request.attributes.get('_route') == path('services') %}text-primary{% else %}text-secondary{% endif %}" href="{{ path('services') }}">Services</a>
            </li>
        </ul>
    </div>
</nav>