<nav class="col-2 d-none d-md-block bg-light sidebar p-0 border-right" id="main-sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item text-center">
                <a class="nav-link font-weight-bold text-uppercase text-dark" href="{{ path('home') }}">Dashboard</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link font-weight-bold text-uppercase text-dark" href="{{ path('home') }}">Bandwidth</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link font-weight-bold text-uppercase text-dark" href="{{ path('home') }}">DB IO</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link font-weight-bold text-uppercase text-dark" href="{{ path('home') }}">Services</a>
            </li>
        </ul>
    </div>
</nav>