{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col mb-4 p-0">
                <h1 class="pb-4 text-center border-bottom">Management Control</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md mb-2 mr-md-1 mb-md-0 p-3 border bg-light" id="management-clients-list">
                <h3 class="mb-3 p-0 pb-3 text-center border-bottom">Clients</h3>
                <ul class="list-group rounded-0">
                    {# TODO - Include dynamic client data from the backend #}
                    <li class="list-group-item text-center">
                        <a href="#" class="text-secondary">Client Name</a>
                    </li>
                </ul>
            </div>
            <div class="col-md mb-2 mr-md-1 mb-md-0 p-3 border bg-light" id="management-services-list">
                <h3 class="mb-3 p-0 pb-3 text-center border-bottom">Services</h3>
                <div class="alert alert-light text-center" role="alert">Select a Client to view</div>
            </div>
            <div class="col-md mb-2 mr-md-1 mb-md-0 p-3 border bg-light" id="management-frontend-list">
                <h3 class="mb-3 p-0 pb-3 text-center border-bottom">Frontends</h3>
                <div class="alert alert-light text-center" role="alert">Select a Client & Service to view</div>
            </div>
        </div>
    </div>
{% endblock %}