{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col mb-4 p-0">
                <h1 class="pb-4 text-center border-bottom">{% if pageTitle is defined and pageTitle %}{{ pageTitle }}{% else %}Create Client{% endif %}</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-md-8">
                <form action="{{ path('api-client-create') }}" method="post" id="create-client-form" class="text-center">
                    <div class="form-group text-center text-md-left">
                        <label for="client_name">Name</label>
                        <input type="text" class="form-control text-center text-md-left" name="client_name" id="client_name" placeholder="Enter client name" required>
                    </div>
                    <button type="submit" class="btn btn-md btn-primary font-weight-bold text-uppercase font-weight-bold">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}